::selection {
	background-color: $primary;
	color: $secondary;
}
::-moz-selection {
	background-color: $primary;
	color: $secondary;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: $dark;
}

::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 5px;
}
