.portfolio {
	.card {
		&-body {
			padding: 15px;
		}

		&-title {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}

		&-text {
			margin-bottom: 10px;
			font-family: 'Open Sans';
			font-size: 0.9rem;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0.77px;
		}

		&-footer {
			margin: 0;
			padding: 0;
			border: none;
			font-size: 0.75rem;
			color: $primary;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 0.66px;
			text-transform: uppercase;
		}
	}
}
